*{
  box-sizing: border-box;
}
html, body {
	width:100vw;/*на весь экран устройства*/
	height:100vh;/*на весь экран устройства*/
	margin:0;
	padding:0;
	overflow:scroll;/*прокрутка если не влазит*/
}
h1 {
  font-family: cursive;
  font-weight:bold;
  font-size:50px;
  color:#f5f5f5;
  text-align:center;
  position:relative;
  margin:auto;
  }

body {
	background: linear-gradient(#494949, #f5f5f5);
	background-repeat:no-repeat;
}

#banner {
	margin: 0px auto;/*выравнивание по центру*/
    align-items:center;
	padding:30px;
}
#playground {
	pointer-event:none;
  position:relative;
  margin:auto;
  padding:10px;
  /* width:400px;
  height:400px; */
  width:80vw;
  max-width:80vh;
  height:80vh;
  max-height:80vw;
  cursor: pointer;
  }
#score {
  position:relative;
  margin:auto;
  padding:10px;
  width:400px;
  font-size:200%;
  text-align:center;
  }  
.pos {
  width:25%;
  height:25%;
  float:left;
  border:solid;
  border-radius:10px;
  background-color:lightgrey;
  font-size: calc(2.5vw + 2.5vh);
  font-weight:bold;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  }
.pos:hover {
  background-color:grey;
  }
.modal {
    display: none;
    background-color: #f5f5f5af;/*hsla(111,98%,50%,0.5);/*#337AB7;*/
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	/* width:450px; */
	/* height:450px; */
    z-index: 99999;
	}
.modal_vis {
    /*display: block;*/
	display:flex;
	flex-direction:column;
    align-items:center;
    justify-content:center;
	}
.body_block {
    overflow: hidden;
    /*margin-right: 17px;*/
	}
.modal_content {
	border: solid 10px #393939;
	border-radius: 50px;
    box-shadow: 0 30px 12px rgba(0,0,0,0.3), 0 30px 20px rgba(0,0,0,0.3);
    background:#f5f5f5;
    padding: 30px;
    margin: 0 auto;
	max-width: 400px;
	position:relative;
	text-align:center;
	color:#696969;
	font-size:50px;
	font-family: cursive;
	font-weight:bold;
	}
#modal_close {
    color: #393939;
    font-size: 40px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: 4px solid #393939;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    position: absolute;
	top:0;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
    }
#modal_close:hover {
    color: #696969;
	border-color: #696969;
    transform: rotate(135deg);
    }	
#modal_text {
	padding: 30px;
   	font-size:60px;
	/* font-family: cursive;
	font-weight:bold; */
	}
#modal_score, #modal_restart {
	padding: 10px;
  	font-size:25px;
	/* font-family: cursive;
	font-weight:bold; */
	}
#modal_restart {
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	border: 5px solid;
	border-radius:15px;
	cursor: pointer;
	}
#modal_restart:hover {
	font-size:30px;
	color: #393939;
	border-color: #393939;
	}
